/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-ene-2018, 17:47:26
    Author     : ACE
*/

.contentcontainer{
}


.leftmenu{
    float: left;
    width: 200px;
}

.content{
    float:right
}

.cleared{
   clear: both;
}